---
apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: GitRepository
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 1m0s
  ref:
    branch: main
  secretRef:
    name: flux-system
  url: ssh://git@github.com/stealthybox/capi-flux-demo
# # Uncomment this section to enable commit verification :)
  # verify:
  #   mode: head
  #   secretRef:
  #     name: admin-public-gpg
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./config/capi-mgmt
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  validation: client
